@import '../../../util/style/mixins/mixins.scss';
@import '../../../util/style/theme/theme.scss';


@include b(checkbox) {
  $prefix: &;
  &-wrapper {
    color: $text-color;
  }
  &-wrapper:hover &-inner, &:hover &-inner, &-input:focus + &-inner {
    border-color: $hover-color;
  }
  @include e(inner, '-') {
    background-color: $component-background;
    border: 1px solid $border-color-base;
  }
  @include e(disabled, '-') {
    #{$prefix}-inner {
      border-color: $disabled-border-color !important;
    }
  }
}

.mapgis-ui-img-checkbox {
  margin-right: 16px;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
  .check-item {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding-top: 15px;
    padding-left: 24px;
    height: 100%;
    color: $primary-color;
    font-size: 14px;
    font-weight: bold;
  }
}

.mapgis-ui-color-checkbox {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  text-align: center;
  // color: $base-bg-color; // ws记录
  color: #fff; // ws记录
  font-weight: bold;
}
