// The prefix to use on all css classes
$ant-prefix: mapgis-ui;

// ICONFONT
$iconfont-css-prefix: anticon;
$iconfont-class-prefix: mapgis-ui-icon;

// An override for the html selector for theme prefixes
$html-selector: html;

$blue-6: var(--primary-color);
$red-6: var(--danger-color);

// -------- Colors -----------
$primary-color: $blue-6;
$info-color: var(--info-color);
$success-color: var(--success-color);
$processing-color: $blue-6;
$error-color: $red-6;
$highlight-color: $red-6;
$warning-color: var(--warning-color);
$normal-color: #d9d9d9;
$white: #fff;
$black: #000;
$shadow: var(--shadow);
$deep-shadow: var(--deep-shadow);

// Color used by default to control hover and active backgrounds
$selected-color: var(--selected-color); // equal rgba($primary-color, 0.15)
$hover-color: var(--hover-color); // equal $primary-5
$click-color: var(--click-color); // equal $primary-7

$primary-1: var(--primary-1);
$primary-2: var(--primary-2);
$primary-3: var(--primary-3);
$primary-4: var(--primary-4);
$primary-5: var(--primary-5);
$primary-6: var(--primary-6); // equal $primary-color
$primary-7: var(--primary-7);
$primary-8: var(--primary-8);
$primary-9: var(--primary-9);
$primary-10: var(--primary-10);

$success-1: var(--success-1);
$success-2: var(--success-2);
$success-3: var(--success-3);
$success-4: var(--success-4);
$success-5: var(--success-5);
$success-6: var(--success-6); // equal $success-color
$success-7: var(--success-7);

$info-1: var(--info-1);
$info-2: var(--info-2);
$info-3: var(--info-3);
$info-4: var(--info-4);
$info-5: var(--info-5);
$info-6: var(--info-6); // equal $info-color
$info-7: var(--info-7);

$warning-1: var(--warning-1);
$warning-2: var(--warning-2);
$warning-3: var(--warning-3);
$warning-4: var(--warning-4);
$warning-5: var(--warning-5);
$warning-6: var(--warning-6); // equal $warning-color
$warning-7: var(--warning-7);

$danger-1: var(--danger-1);
$danger-2: var(--danger-2);
$danger-3: var(--danger-3);
$danger-4: var(--danger-4);
$danger-5: var(--danger-5);
$danger-6: var(--danger-6); // equal $danger-color
$danger-7: var(--danger-7);

// Background color for `<body>`
$body-background: #fff;
// Base background color for most components
$component-background: #fff;
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC",
  "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$code-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
  monospace;
$text-color: fade($black, 65%);
$text-color-secondary: fade($black, 45%);
$text-color-inverse: $white;
$icon-color: inherit;
$icon-color-hover: fade($black, 75%);
$heading-color: fade(#000, 85%);
$heading-color-dark: fade($white, 100%);
$text-color-dark: fade($white, 85%);
$text-color-secondary-dark: fade($white, 65%);
$text-selection-bg: $primary-color;
$font-variant-base: tabular-nums;
$font-feature-settings-base: "tnum";
$font-size-base: 14px;
$font-size-lg: $font-size-base + 2px;
$font-size-sm: 12px;
$heading-1-size: ceil($font-size-base * 2.71);
$heading-2-size: ceil($font-size-base * 2.14);
$heading-3-size: ceil($font-size-base * 1.71);
$heading-4-size: ceil($font-size-base * 1.42);
$line-height-base: 1.5;
$border-radius-base: 4px;
$border-radius-sm: 2px;

// Animation
$ease-base-out: cubic-bezier(0.7, 0.3, 0.1, 1);
$ease-base-in: cubic-bezier(0.9, 0, 0.3, 0.7);
$ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
$ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
$ease-in-out-back: cubic-bezier(0.71, -0.46, 0.29, 1.46);
$ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.34);
$ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
$animation-duration-slow: 0.3s; // Modal
$animation-duration-base: 0.2s;
$animation-duration-fast: 0.1s; // Tooltip

// vertical paddings
$padding-lg: 24px; // containers
$padding-md: 16px; // small containers and buttons
$padding-sm: 12px; // Form controls and items
$padding-xs: 8px; // small items

// vertical padding for all form controls
$control-padding-horizontal: $padding-sm;
$control-padding-horizontal-sm: $padding-xs;

// Background color for `<body>`
$body-background: var(--background);
$body-background-without-opacity: var(--background-without-opacity);

// Base background/text color for most components
$component-background: var(--component-background);
$component-background-without-opacity: var(
  --component-background-without-opacity
);
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC",
  "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$text-color: var(--text-color);
$text-color-secondary: var(--text-color-secondary);
$text-color-inverse: $white;
$text-color-without-opacity: var(--text-color-without-opacity);
$icon-color: inherit;
$icon-color-hover: var(--icon-color-hover);
$heading-color: var(--heading-color);
$heading-color-dark: rgba($white, 1);
$text-color-dark: rgba($white, 0.85);
$text-color-secondary-dark: rgba($white, 0.65);
$text-selection-bg: $primary-color;

// Grid system
$grid-columns: 24;
$grid-gutter-width: 0;

// Layout
$layout-background: var(--layout-background);
$layout-shadow: var(--shadow);
$layout-sider-background: var(--sider-background);
$layout-body-background: #f0f2f5;
$layout-header-background: var(--header-background);
$layout-footer-background: var(--footer-background);
$layout-header-height: 64px;
$layout-header-padding: 0 50px;
$layout-footer-padding: 24px 50px;
$layout-trigger-height: 48px;
$layout-trigger-background: #002140;
$layout-trigger-color: #fff;
$layout-zero-trigger-width: 36px;
$layout-zero-trigger-height: 42px;
// Layout light theme
$layout-sider-background-light: #fff;
$layout-trigger-background-light: #fff;
$layout-trigger-color-light: $text-color;

// vertical paddings
$padding-lg: 24px; // containers
$padding-md: 16px; // small containers and buttons
$padding-sm: 12px; // Form controls and items
$padding-xs: 8px; // small items

// vertical padding for all form controls
$control-padding-horizontal: $padding-sm;
$control-padding-horizontal-sm: $padding-xs;
// The background colors for active and hover states for things like
// list items or table cells.
$item-active-bg: $primary-1;
$item-hover-bg: $primary-1;

// DIV
$div-color: var(--div-color);
$div-background: var(--div-background);
$div-border-color: var(--div-border-color);

// LINK
$link-color: $primary-6;
$link-hover-color: $primary-5;
$link-active-color: $primary-7;

// Border color
$border-color-base: var(--border-color-base); // base border outline a component
$border-color-split: var(
  --border-color-split
); // split border inside a component
$border-color-inverse: $white;
$border-width-base: 1px; // width of the border for a component
$border-style-base: solid; // style of a components border

// Outline
$outline-color: $primary-6;

$background-color-light: var(--background-light);
$background-color-base: var(--background-base);

// Disabled states
$disabled-color: var(--disabled-text-color);
$disabled-bg: var(--disabled-bg-color);
$disabled-color-dark: rgba($white, 0.35);
$disabled-border-color: var(--disabled-border-color);

// Shadow
$shadow-color: var(--shadow-color);
$primary-shadow-color: var(--primary-shadow-color);
$danger-shadow-color: var(--danger-shadow-color);
$shadow-color-inverse: $component-background;
$shadow-1-up: 0 -2px 7px $shadow-color;
$shadow-1-down: 0 2px 7px $shadow-color;
$shadow-1-left: -2px 0 7px $shadow-color;
$shadow-1-right: 2px 0 7px $shadow-color;
$shadow-2: 0 4px 12px $shadow-color;
$box-shadow-base: $shadow-1-down;

// Buttons
$btn-shadow: none;
$btn-primary-shadow: none;
$btn-text-shadow: none;

$btn-primary-color: #fff;
$btn-primary-bg: $primary-color;

$btn-default-color: $text-color;
$btn-default-bg: transparent;
// $btn-default-bg: var(--primary-6);
$btn-theme-bg: var(--background);
$btn-default-border: var(--button-border-default-color);

$btn-danger-color: $red-6;
$btn-danger-bg: transparent;
$btn-danger-border: $red-6;

$btn-ghost-color: $text-color;
$btn-ghost-bg: transparent;
$btn-ghost-border: $border-color-base;

$btn-disable-color: $disabled-color;
$btn-disable-bg: $disabled-bg;
$btn-disable-border: $disabled-border-color;

$btn-group-border: $primary-5;

// Checkbox
$checkbox-color: $primary-6;
$checkbox-check-color: #fff;

// Descriptions
$descriptions-bg: #fafafa;

// Dropdown
$dropdown-selected-color: $primary-6;
$dropdown-background: var(--dropdown-background);

// Empty
$empty-background: var(--empty-background);

// Radio
$radio-dot-color: $primary-6;
$radio-inner-disabled-bg: var(--radio-inner-disabled-bg);

// Radio buttons
$radio-button-bg: $component-background;
$radio-button-checked-bg: $component-background;
$radio-button-color: $text-color;
$radio-button-hover-color: $primary-5;
$radio-button-active-color: $primary-7;

// Media queries breakpoints
// Extra small screen / phone
$screen-xs: 480px;
$screen-xs-min: $screen-xs;

// Small screen / tablet
$screen-sm: 576px;
$screen-sm-min: $screen-sm;

// Medium screen / desktop
$screen-md: 768px;
$screen-md-min: $screen-md;

// Large screen / wide desktop
$screen-lg: 992px;
$screen-lg-min: $screen-lg;

// Extra large screen / full hd
$screen-xl: 1200px;
$screen-xl-min: $screen-xl;

// Extra extra large screen / large desktop
$screen-xxl: 1600px;
$screen-xxl-min: $screen-xxl;

// provide a maximum
$screen-xs-max: ($screen-sm-min - 1px);
$screen-sm-max: ($screen-md-min - 1px);
$screen-md-max: ($screen-lg-min - 1px);
$screen-lg-max: ($screen-xl-min - 1px);
$screen-xl-max: ($screen-xxl-min - 1px);

//Dropdown
$dropdown-vertical-padding: 5px;
$dropdown-edge-child-vertical-padding: 4px;
$dropdown-font-size: $font-size-base;
$dropdown-line-height: 22px;

// Input
$input-height-base: 32px;
$input-height-lg: 40px;
$input-height-sm: 24px;
$input-padding-horizontal: $control-padding-horizontal - 1px;
$input-padding-horizontal-base: $input-padding-horizontal;
$input-padding-horizontal-sm: $control-padding-horizontal-sm - 1px;
$input-padding-horizontal-lg: $input-padding-horizontal;
$input-padding-vertical-base: 4px;
$input-padding-vertical-sm: 1px;
$input-padding-vertical-lg: 6px;
$input-placeholder-color: var(--placeholder-color);
$input-color: $text-color;
$input-border-color: $border-color-base;
$input-bg: $component-background;
$input-hover-border-color: $primary-5;
$input-number-hover-border-color: $input-hover-border-color;
$input-number-handler-active-bg: $background-color-base;
$input-number-handler-hover-bg: $primary-5;
$input-number-handler-bg: $component-background;
$input-number-handler-border-color: $border-color-base;
$input-addon-bg: $background-color-light;
$input-disabled-bg: $disabled-bg;

$input-height-base: 32px;
$input-height-lg: 40px;
$input-height-sm: 24px;
$input-padding-horizontal: $control-padding-horizontal - 1px;
$input-padding-horizontal-base: $input-padding-horizontal;
$input-padding-horizontal-sm: $control-padding-horizontal-sm - 1px;
$input-padding-horizontal-lg: $input-padding-horizontal;
$input-padding-vertical-base: 4px;
$input-padding-vertical-sm: 1px;
$input-padding-vertical-lg: 6px;
$input-placeholder-color: hsv(0, 0, 75%);
$input-color: $text-color;
$input-border-color: $border-color-base;
$input-bg: $component-background;
$input-number-hover-border-color: $input-hover-border-color;
$input-number-handler-active-bg: #f4f4f4;
$input-number-handler-hover-bg: $primary-5;
$input-number-handler-bg: $component-background;
$input-number-handler-border-color: $border-color-base;
$input-addon-bg: $background-color-light;
$input-hover-border-color: $primary-5;
$input-disabled-bg: $disabled-bg;
$input-outline-offset: 0 0;

// Form
$label-required-color: $highlight-color;
$label-color: $heading-color;
$form-warning-input-bg: $input-bg;
$form-error-input-bg: $input-bg;
$form-item-margin-bottom: 24px;
$form-item-trailing-colon: true;
$form-vertical-label-padding: 0 0 8px;
$form-vertical-label-margin: 0;
$form-item-label-colon-margin-right: 8px;
$form-item-label-colon-margin-left: 2px;

// Select
$select-border-color: $border-color-base;
$select-item-selected-color: $text-color-without-opacity;
$select-item-selected-font-weight: 600;
$select-dropdown-bg: var(--select-dropdown-background);
$select-item-selected-bg: $selected-color;
$select-item-active-bg: $selected-color;
$select-item-hover-bg: var(--select-item-hover-bg);
$select-background: $component-background;

// Cascader
// ----
$cascader-dropdown-vertical-padding: $dropdown-vertical-padding;
$cascader-dropdown-edge-child-vertical-padding: $dropdown-edge-child-vertical-padding;
$cascader-dropdown-font-size: $dropdown-font-size;
$cascader-dropdown-line-height: $dropdown-line-height;

// Anchor
$anchor-border-color: $border-color-split;

// Tooltip
// Tooltip text color
$tooltip-color: #fff;
// Tooltip background color
$tooltip-bg: var(--tooltip-background);
// Tooltip arrow color
$tooltip-arrow-color: $tooltip-bg;

// Popover
// Popover body background color
$popover-background: var(--popover-background);
$popover-bg: $popover-background;
// Popover text color
$popover-color: $text-color;
// Popover maximum width
$popover-min-width: 177px;
// Popover arrow width
$popover-arrow-width: 6px;
// Popover arrow color
$popover-arrow-color: $popover-bg;
// Popover outer arrow width
// Popover outer arrow color
$popover-arrow-outer-color: $popover-bg;
// Popover distance with trigger
$popover-distance: $popover-arrow-width + 4px;

// Modal
$modal-background: var(--modal-background);
$modal-header-bg: $modal-background;
$modal-header-border-color-split: $border-color-split;
$modal-heading-color: $heading-color;
$modal-content-bg: $modal-background;
$modal-footer-bg: transparent;
$modal-footer-border-color-split: $border-color-split;
$modal-mask-bg: rgba($black, 0.45);

// Progress
$progress-default-color: $processing-color;
$progress-remaining-color: $background-color-base;
$progress-text-color: $text-color;

// Menu
$menu-inline-toplevel-item-height: 40px;
$menu-item-height: 40px;
$menu-collapsed-width: 80px;
$menu-bg: $component-background;
$menu-popup-bg: $component-background;
$menu-item-color: $text-color;
$menu-highlight-color: $primary-6;
$menu-item-active-bg: $item-active-bg;
$menu-item-active-border-width: 3px;
$menu-item-group-title-color: $text-color-secondary;
$menu-icon-size: $font-size-base;
$menu-icon-size-lg: $font-size-lg;

$menu-item-vertical-margin: 4px;
$menu-item-font-size: $font-size-base;
$menu-item-boundary-margin: 8px;

// dark theme
$menu-dark-color: $text-color-secondary-dark;
$menu-dark-bg: $layout-header-background;
$menu-dark-arrow-color: #fff;
$menu-dark-submenu-bg: #000c17;
$menu-dark-highlight-color: #fff;
$menu-dark-item-active-bg: $primary-6;
$menu-dark-selected-item-icon-color: $white;
$menu-dark-selected-item-text-color: $white;
$menu-dark-item-hover-bg: transparent;

$table-background: var(--table-background);
$table-heading-color: $primary-6;
$table-header-bg: $background-color-light;
$table-header-color: $table-heading-color;
$table-header-sort-bg: $background-color-base;
$table-body-sort-bg: rgba(0, 0, 0, 0.01);
$table-row-hover-bg: $primary-6;
$table-selected-row-color: inherit;
$table-selected-row-bg: $primary-6;
$table-body-selected-sort-bg: $table-selected-row-bg;
$table-selected-row-hover-bg: $primary-6;
$table-expanded-row-bg: #fbfbfb;
$table-padding-vertical: 16px;
$table-padding-horizontal: 16px;
$table-border-radius-base: $border-radius-base;
$table-footer-bg: $background-color-light;
$table-footer-color: $table-heading-color;
$table-header-bg-sm: transparent;

// Tag
$tag-default-bg: $background-color-light;
$tag-default-color: $text-color;
$tag-font-size: $font-size-sm;

// TimePicker
$time-picker-panel-column-width: 56px;
$time-picker-panel-width: $time-picker-panel-column-width * 3;
$time-picker-selected-bg: $background-color-base;

// Badge
$badge-height: 20px;
$badge-dot-size: 6px;
$badge-font-size: $font-size-sm;
$badge-font-weight: normal;
$badge-status-size: 6px;
$badge-text-color: $component-background;

// Statistic
$statistic-title-font-size: $font-size-base;
$statistic-content-font-size: 24px;
$statistic-unit-font-size: 16px;
$statistic-font-family: $font-family;

// Rate
// $rate-star-color: $yellow-6;
$rate-star-bg: $border-color-split;

// Card
$card-background: var(--card-background);
$card-head-color: $heading-color;
$card-head-background: $card-background;
$card-body-background: $card-background;
$card-head-padding: 16px;
$card-inner-head-padding: 12px;
$card-padding-base: 24px;
$card-actions-background: $background-color-light;
$card-skeleton-bg: #cfd8dc;
$card-background: $card-background;
$card-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
$card-radius: $border-radius-sm;

// Comment
$comment-author-name-color: $text-color-secondary;
$comment-author-time-color: #ccc;
$comment-action-color: $text-color-secondary;
$comment-action-hover-color: #595959;

// Tabs
$tabs-card-head-background: $background-color-light;
$tabs-card-active-color: $primary-6;
$tabs-ink-bar-color: $primary-6;
$tabs-highlight-color: $primary-6;
$tabs-hover-color: $primary-5;
$tabs-active-color: $primary-7;
$tabs-card-tab-active-border-top: 2px solid transparent;

// BackTop
$back-top-color: #fff;
$back-top-bg: $text-color-secondary;
$back-top-hover-bg: $text-color;

// Avatar
$avatar-bg: var(--avatar-background);
$avatar-color: var(--avatar-text-color);

// Switch
$switch-background: var(--switch-background);
$switch-disabled-bg-color: var(--switch-disabled-bg-color);
$switch-disabled-after-color: var(--switch-disabled-after-color);
$switch-disabled-opacity: var(--switch-disabled-opacity);
$switch-color: $primary-6;
$switch-shadow-color: rgba(#00230b, 0.2);
$switch-after-bg: #fff;

// Pagination
$pagination-item-size: 32px;
$pagination-item-size-sm: 24px;
$pagination-font-family: Arial;
$pagination-font-weight-active: 500;
$pagination-item-bg-active: $component-background;

// PageHeader
$page-header-padding: 24px;
$page-header-padding-vertical: 16px;
$page-header-padding-breadcrumb: 12px;
$page-header-back-color: #000;

// Breadcrumb
$breadcrumb-base-color: $text-color-secondary;
$breadcrumb-last-item-color: $text-color;
$breadcrumb-link-color: $text-color-secondary;
$breadcrumb-link-color-hover: $primary-5;
$breadcrumb-separator-color: $text-color-secondary;

// Step

// Slider
$slider-rail-background-color: var(--slider-rail-background-color);
$slider-rail-background-color-hover: $slider-rail-background-color;
$slider-track-background-color: $primary-6;
$slider-track-background-color-hover: $hover-color;
$slider-handle-background-color: #fff;
$slider-handle-color: $primary-6;
$slider-handle-color-hover: $hover-color;
// $slider-handle-color-focus: tint($primary-color, 20%);
// $slider-handle-color-focus-shadow: fade($primary-color, 20%);
$slider-handle-color-tooltip-open: $primary-6;
$slider-dot-border-color: $border-color-split;
// $slider-dot-border-color-active: tint($primary-color, 50%);
$slider-disabled-color: $disabled-color;
$slider-disabled-background-color: $component-background;

// Tree
$tree-directory-selected-color: #fff;
$tree-directory-selected-bg: $primary-6;
$tree-node-hover-bg: $item-hover-bg;
$tree-node-selected-bg: $primary-2;

// Collapse
$collapse-header-bg: $background-color-light;
$collapse-content-bg: transparent;

// Skeleton
$skeleton-color: #f2f2f2;

// Transfer
$transfer-disabled-bg: $disabled-bg;
$transfer-item-hover-color: $select-item-hover-bg;

// Message
$message-background: var(--message-background);

// Notification

// Alert
$alert-success-border-color: $success-3;
$alert-success-bg-color: $success-1;
$alert-success-icon-color: $success-color;
$alert-info-border-color: $info-3;
$alert-info-bg-color: $info-1;
$alert-info-icon-color: $info-color;
$alert-warning-border-color: $warning-3;
$alert-warning-bg-color: $warning-1;
$alert-warning-icon-color: $warning-color;
$alert-error-border-color: $danger-3;
$alert-error-bg-color: $danger-1;
$alert-error-icon-color: $error-color;

// List
$list-header-background: transparent;
$list-footer-background: transparent;
$list-empty-text-padding: $padding-md;
$list-item-padding: $padding-sm 0;
$list-item-meta-margin-bottom: $padding-md;
$list-item-meta-avatar-margin-right: $padding-md;
$list-item-meta-title-margin-bottom: $padding-sm;
$list-item-hover-bg: $primary-2;

// Timeline
$timeline-width: 2px;
$timeline-color: $border-color-split;
$timeline-dot-border-width: 2px;
$timeline-dot-color: $primary-6;
$timeline-dot-bg: $component-background;

// collapse-card
$collapse-card-bg: var(--collapse-card-background);
$collapse-card-header-bg: var(--collapse-card-header-bg);

// Search
$search-arrow-icon-bg: var(--search-arrow-icon-bg);
$search-result-item-hover-bg: $select-item-hover-bg;

// pan
$pan-item-hover-bg: $select-item-hover-bg;

// Affix
$zindex-affix: 10;

// dropdown
$zindex-dropdown: 1050;

// Carousel
$carousel-dot-width: 16px;
$carousel-dot-height: 3px;
$carousel-dot-active-width: 24px;

// z-index list, order by `z-index`
$zindex-badge: 1;
$zindex-table-fixed: 1;
$zindex-back-top: 10;
$zindex-picker-panel: 10;
$zindex-popup-close: 10;
$zindex-modal: 1000;
$zindex-modal-mask: 1000;
$zindex-message: 1010;
$zindex-notification: 1010;
$zindex-popover: 1030;
$zindex-picker: 1050;
$zindex-tooltip: 1060;

// Media queries breakpoints
// Extra small screen / phone
$screen-xs: 480px;
$screen-xs-min: $screen-xs;

// Small screen / tablet
$screen-sm: 576px;
$screen-sm-min: $screen-sm;

// Medium screen / desktop
$screen-md: 768px;
$screen-md-min: $screen-md;

// Large screen / wide desktop
$screen-lg: 992px;
$screen-lg-min: $screen-lg;

// Extra large screen / full hd
$screen-xl: 1200px;
$screen-xl-min: $screen-xl;

// Extra extra large screen / large desktop
$screen-xxl: 1600px;
$screen-xxl-min: $screen-xxl;

// provide a maximum
$screen-xs-max: ($screen-sm-min - 1px);
$screen-sm-max: ($screen-md-min - 1px);
$screen-md-max: ($screen-lg-min - 1px);
$screen-lg-max: ($screen-xl-min - 1px);
$screen-xl-max: ($screen-xxl-min - 1px);

// Drawer
$drawer-background: var(--drawer-background);
$drawer-header-padding: 16px 24px;
$drawer-body-padding: 24px;

// Mapbox Popup
$popup-background: var(--popup-background);

// Json Editor
$json-editor-background: var(--card-background);
$json-editor-color: $primary-6;
$json-editor-background: $card-background;
$json-editor-background: $card-background;

// content menu
$content-color: var(--content-color);
$content-background: var(--content-background);

// Pro
$ribbon-background: var(--ribbon-background);
$ribbon-border-background: $shadow;

// Navs
$nav-backgroud: var(--nav-background);
$nav-content-backgroud: var(--nav-content-background);
$nav-selected-backgroud: var(--nav-selected-background);
$nav-border-backgroud: var(--nav-border-background);
$nav-shadow-backgroud: var(--nav-shadow);
$nav-bar-width: 48px;

// ThemePanel
$panel-backgroud: var(--panel-background);
$panel-text-color: var(--panel-text-color);
$panel-option-color: var(--panel-option-color);
$panel-box-shadow: var(--panel-box-shadow);
$panel-collapse-color: var(--panel-collapse-color);

//svgSelect
$svg-select-outer-color: var(--svg-select-outer-color);
$svg-select-panel-color: var(--svg-select-panel-color);
$svg-select-panel-head-color: var(--svg-select-panel-head-color);
$svg-active-type-color: var(--svg-active-type-color);