@import '../../../util/style/mixins/mixins.scss';
@import '../../../util/style/theme/theme.scss';
@import 'mixin.scss';

@include b(input) {
  padding: 4px 8px;
  @include focus($primary-5, $primary-shadow-color);
  &[disabled] {
    @include disabled();
  }
  @include e(disabled, '-') {
    @include disabled();
  }
  @include e(group-addon, '-') {
    background-color: $background-color-light;
  }
  @include e(group, '-') {
    .mapgis-ui-input-affix-wrapper:first-child:last-child .mapgis-ui-input-number {
      border-radius: 4px;
    }
    .mapgis-ui-input-affix-wrapper:first-child .mapgis-ui-input-number {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .mapgis-ui-input-affix-wrapper:last-child .mapgis-ui-input-number {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .mapgis-ui-input-affix-wrapper:not(:first-child):not(:last-child) .mapgis-ui-input-number {
      border-radius: 0;
    }
  }
  @include e(affix-wrapper, '-') {
    .mapgis-ui-input-number:not(:last-child) {
      padding-right: 41px;
    }
    .mapgis-ui-input-number:not(:first-child) {
      padding-left: 19px;
    }
  }
  @include e(number, '-') {
    @include focus($primary-5, $primary-shadow-color);
    &-focused {
      @include focus-color($primary-5, $primary-shadow-color);
    }
    &-handler {
      color: $text-color-secondary;
      &:active {
        background: $input-number-handler-active-bg;
      }
      &-up-inner, &-down-inner {
        color: $text-color-secondary;
      }
    }
  }
  @include e(password, '-') {
    @include suffix-icon();
  }
  @include e(search, '-') {
    @include suffix-icon();
  }
  @include e(clear-icon, '-') {
    @include clear-icon();
  }
  @include e(textarea-clear-icon, '-') {
    @include clear-icon();
  }

  @include e(auto-width, '-') {
    width: 100%;
  }

  // &:-internal-autofill-selected {
  //   background-color: inset 0 0 0 1000px rgab(255, 255, 255, 0)!important;
  // }
}

.mapgis-ui-input-outline {
  color: $text-color;
  background: $panel-backgroud;
}

.mapgis-ui-input-outline-title, .mapgis-ui-input-border-title {
  color: $text-color;
  background: $panel-backgroud;
}
