.DS_Store
storybook
node_modules
leaflet/dist-docs
leaflet/dist-libs
mapboxgl/dist-docs
mapboxgl/dist-libs
mapboxgl/node_modules
cesium/dist-docs
cesium/dist-libs
cesium/node_modules
ui/dist-docs
ui/dist-libs
ui/node_modules
dist
package-lock.json
yarn.lock
stories/public/cesium
stories/public/static/color

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 推到gitee和github上时，放开以下内容
cesium/src/components/simulation
cesium/src/components/Layer/3DPlot
cesium/src/components/Layer/MapStory
cesium/src/components/Analysis/DynamicSection.vue
cesium/src/components/Analysis/Explosion.vue
cesium/src/components/Analysis/HeightLimited.vue
cesium/src/components/Analysis/ModelFlatten.vue
cesium/src/components/Analysis/BIM.vue
cesium/src/components/Analysis/StratifiedHousehold.vue
mapboxgl/src/components/layer/edit/Edit.vue";
