@import "../../../util/style/mixins/mixins.scss";
@import "../../../util/style/theme/theme.scss";

@include b(color-picker) {
}

.mapgis-ui-sketch-color-picker {
  .color-container {
    padding: 4px 8px;
    height: 32px;
    border: 1px solid $border-color-base;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    .color-div {
      height: 16px;
      width: 16px;
      border: 1px solid $border-color-base;
      margin-right: 8px;
    }
  }
}

.mapgis-ui-sketch-color-picker-auto-width {
  width: 100%;
}

.colorContainerLarge {
  .color-container {
    height: 40px;
  }
}

.colorContainerSmall {
  .color-container {
    height: 24px;
  }
}

.sketch-color {
  color: #000000a6;
}
.mapgis-ui-sketch-color-picker-confirm {
  $size-lg: 40px;
  $size-md: 32px;
  $size-sm: 24px; // ws记录，这几个需要放到全局

  &-btn {
    max-width: 100%;
    min-width: $size-md;
    height: $size-md;
    line-height: $size-md;
    padding: 0 4px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &-content {
    color: #333;
    border: 1px solid $border-color-base;
    border-radius: $border-radius-base;
    > div {
      box-shadow: none;
      border-radius: 0;
    }
    &-btns {
      background: $white;
      padding: 12px 0;
      text-align: center;
      border-top: 1px solid $border-color-base;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      button {
        margin: 0 5px;
      }
    }
  }
  &-large {
    min-width: $size-lg;
    height: $size-lg;
    line-height: $size-lg;
  }
  &-small {
    min-width: $size-sm;
    height: $size-sm;
    line-height: $size-sm;
  }
  &-bordered {
    border: 1px solid transparent;
  }
  &-border-radius {
    border-radius: $border-radius-base;
  }
  &-disabled {
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background: fade($white, 85%);
    }
  }
}

.mapgis-ui-d3-color-item {
  height: 16px;
  margin: 2px 0px;
  width: 170px;
  object-fit: fill;
  .mapgis-ui-select-selection-selected-value {
    display: flex !important;
  }
}
