@import "../../../util/style/mixins/mixins.scss";
@import "../../../util/style/theme/theme.scss";

@include b(color-picker) {
}

.mapgis-ui-sketch-color-picker {
  .color-container {
    padding: 9px 8px;
    height: 32px;
    border: 1px solid $border-color-base;
    border-radius: 4px;
    .color-div {
      height: 100%;
    }
  }
}
.sketch-color {
  color: #000000a6;
}
