@import "../../../util/style/mixins/mixins.scss";
@import "../../../util/style/theme/theme.scss";

@include b(tree) {
  & li &-node-content-wrapper {
    color: $text-color;
    &:hover {
      background-color: var(--primary-2);
    }
  }

  &-checkbox-inner {
    background: #fff0;
  }
}
