@import "./util/style/common/common.scss";
/* MapGIS Design */

/* MapGIS Design - Layout */
@import "./components/div/style/div.scss";
@import "./components/grid/style/grid.scss";
@import "./components/layout/style/layout.scss";
@import "./components/space/style/space.scss";
@import "./components/scroll/style/scroll.scss";

/* MapGIS Design - General */
@import "./components/button/style/button.scss";
@import "./components/border/style/border.scss";

/* MapGIS Design - Navigation */
@import "./components/affix/style/affix.scss";
@import "./components/breadcrumb/style/breadcrumb.scss";
@import "./components/dropdown/style/dropdown.scss";
@import "./components/menu/style/menu.scss";
@import "./components/pageheader/style/pageheader.scss";
@import "./components/pagination/style/pagination.scss";

/* MapGIS Design - Data Entry */
@import "./components/cascader/style/cascader.scss";
@import "./components/checkbox/style/checkbox.scss";
@import "./components/date-picker/style/date-picker.scss";
@import "./components/input/style/input.scss";
@import "./components/form-model/style/form-model.scss";
@import "./components/mentions/style/mentions.scss";
@import "./components/radio/style/radio.scss";
@import "./components/rate/style/rate.scss";
@import "./components/select/style/select.scss";
@import "./components/sprite/style/sprite.scss";
@import "./components/slider/style/slider.scss";
@import "./components/switch/style/switch.scss";
@import "./components/time-picker/style/time-picker.scss";
@import "./components/transfer/style/transfer.scss";
@import "./components/tree-select/style/tree-select.scss";

/* MapGIS Design - Data Display */
@import "./components/avatar/style/avatar.scss";
@import "./components/badge/style/badge.scss";
@import "./components/collapse-card/style/collapse-card.scss";
@import "./components/card/style/card.scss";
@import "./components/calendar/style/calendar.scss";
@import "./components/carousel/style/carousel.scss";
@import "./components/collapse/style/collapse.scss";
@import "./components/list/style/list.scss";
@import "./components/popover/style/popover.scss";
@import "./components/statistic/style/statistic.scss";
@import "./components/table/style/table.scss";
@import "./components/tabs/style/tabs.scss";
@import "./components/tag/style/tag.scss";
@import "./components/timeline/style/timeline.scss";
@import "./components/tooltip/style/tooltip.scss";
@import "./components/tree/style/tree.scss";

/* MapGIS Design - Feedback */
@import "./components/drawer/style/drawer.scss";
@import "./components/message/style/message.scss";
@import "./components/modal/style/modal.scss";
@import "./components/notification/style/notification.scss";
@import "./components/progress/style/progress.scss";
@import "./components/result/style/result.scss";
@import "./components/skeleton/style/skeleton.scss";
@import "./components/spin/style/spin.scss";

/* MapGIS Design - Other */
@import "./components/config-provider/style/config-provider.scss";
@import "./components/divider/style/divider.scss";
@import "./components/locale-provider/style/locale-provider.scss";

/* MapGIS Design - IconFont */
@import "./components/iconfont/style/iconfont.scss";

/* MapGIS Design - Color */
@import "./components/color/style/color.scss";
@import "./components/color-picker/style/color-picker.scss";

/* MapGIS Design - Third Lib */
@import "./components/jsoneditor/style/editor.scss";
@import "./components/content/style/content.scss";

/* MapGIS Design Pro - Setting */
@import "./components/ribbon/style/ribbon.scss";
@import "./layout/base/style/pro.scss";
@import "./layout/base/SettingDrawer/style/index.scss";

/* MapGIS Design Navs */
@import "./layout/navs/style/navs.scss";

/* MapGIS Design CloudDisk */
@import "./view/clouddisk/components/upload/style/upload.scss";
@import "./view/clouddisk/components/select/style/select.scss";

/* MapGIS Design Mapbox Base*/
@import "./components/map/style/map.scss";

/* MapGIS Design THemePanel */
@import "./components/themepanel/style/themepanel.scss";
@import "./components/svgselect/style/svgselect.scss";
