@import "../../../util/style/mixins/mixins.scss";
@import "../../../util/style/theme/theme.scss";

@include b(dropdown) {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: $zindex-dropdown;
  display: block;

  &-menu {
    background-color: $dropdown-background;
  }

  &-menu-item {
    color: $text-color;
    &:hover {
      background-color: $primary-2;
    }
  }
}
