@import "../../../util/style/mixins/mixins.scss";
@import "../../../util/style/theme/theme.scss";

@include b(setting-footer) {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 8px;
  padding-top: 0px;
  border-top: 1px solid $border-color-base;
  &.center {
    justify-content: center;
    .mapgis-ui-btn {
      margin: 0 4px;
    }
  }
  .mapgis-ui-btn {
    margin-right: 8px;
  }
  // .mapgis-ui-btn:not(:first-child) {
  //   margin-left: 8px;
  // }
}
