<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <script>
			// var fldName = [{"FldName": "UserID", "FldType": "FldLong"}]
      // console.log(fldName)

      // var obj1 = {FldName: 'UserID', FldType: 'FldLong'}
      // var obj2 = {FldName: '高度', FldType: 'FldDouble'}
      // fldName.push(obj1)
      // fldName.push(obj2)
      // console.log(fldName)

      // var url = "http://localhost:6163/igs/rest/mrms/layers"
      // var url = "http://192.168.21.192:6163/igs/rest/mrms/layers"
      // var ip = this.url.split('/')[2].split(':')[0]
      // var port = this.url.split('/')[2].split(':')[1]
      // console.log(url, ip, port)

      // function getCurentTime() {
      //   let now = new Date();
      //   let year = now.getFullYear();
      //   let month = now.getMonth() + 1;
      //   let day = now.getDate();
      //   let hh = now.getHours();
      //   let mm = now.getMinutes();
      //   let ss = now.getSeconds();
      //   // let tt = [year, month, day, hh, mm, ss]
      //   // console.log(tt)
      //   // let name = year + "-"
      //   // for(var i = 0; i< tt.length; i++) {
      //   //   if(tt[i] < 10) {
      //   //     tt[i] += "0"
      //   //   }
      //   //   name = tt[i] + "-"
      //   // }
      //   // console.log(name)

      //   console.log(hh,mm,ss)
      //   console.log(typeof(hh))
      //   console.log(typeof(mm))
      //   console.log(typeof(ss))

      //   if (hh < 10)
      //     hh += "0";
      //   if (mm < 10) 
      //     mm += '0';
      //   if (ss < 10) 
      //     ss += '0';
      //   return ("buffer" + hh+mm+ss);
      // }
      // console.log(getCurentTime())

      var url = "http://localhost:6163/igs/rest/mrms/layers?gdbps=gdbp://MapGISLocalPlus/sample/sfcls/武汉市轮廓-buffer145051"
      var index=url.lastIndexOf("/");
      var name =url.substring(index+1, url.length);
      alert(name)

    </script>
</body>
</html>