@import "../../../util/style/mixins/mixins.scss";
@import "../../../util/style/theme/theme.scss";

@include b(color) {
}

@include b(colors-setting) {
  .mapgis-ui-sketch-color-picker .color-container {
    padding: 5px 2px;
    height: 25px;
    border: 0px solid #d9d9d9;
    border-radius: 0px;
  }
  .mapgis-ui-table {
    font-size: 12px;
    width: 100%;
  }

  .mapgis-ui-input-affix-wrapper .mapgis-ui-input-prefix {
    font-size: 12px;
    left: 3px;
  }

  .mapgis-ui-input {
    font-size: 12px;
    border: none;
    border-radius: 0;
    &-focused {
      box-shadow: none;
    }
    &-focused,
    &:hover,
    &:focus {
      border-color: $border-color-base;
    }
  }

  .mapgis-ui-input-number {
    font-size: 12px;
    border: none;
    border-radius: 0 !important;
    &-focused {
      box-shadow: none;
    }
    &-focused,
    &:hover,
    &:focus {
      border-color: $border-color-base;
    }
    &-sm input {
      height: 24px;
    }
  }
  .mapgis-ui-input-affix-wrapper .mapgis-ui-input-number:not(:first-child) {
    padding-left: 23px;
  }

  .mapgis-ui-tooltip {
    font-size: 12px;
  }

  th {
    padding: 6px 8px !important;
  }

  td {
    padding: 0 !important;
  }

  .icon {
    margin: 0 8px;
    &:hover {
      color: $primary-color;
    }
  }
}
