@import "../../../util/style/mixins/mixins.scss";
@import "../../../util/style/theme/theme.scss";

@include b(color) {
}

@include b(colors-setting) {
  ::v-deep .color-picker .color-container {
    padding: 5px 2px;
    height: 25px;
    border: 0px solid #d9d9d9;
    border-radius: 0px;
  }
  ::v-deep .ant-table {
    font-size: 12px;
    width: 260px;
  }

  ::v-deep .ant-input-affix-wrapper .ant-input-prefix {
    font-size: 12px;
    left: 3px;
  }

  ::v-deep .ant-input {
    font-size: 12px;
    border: none;
    border-radius: 0;
    &-focused {
      box-shadow: none;
    }
    &-focused,
    &:hover,
    &:focus {
      border-color: $border-color-base;
    }
  }

  ::v-deep .ant-tooltip {
    font-size: 12px;
  }

  ::v-deep th {
    padding: 6px 8px !important;
  }

  ::v-deep td {
    padding: 0 !important;
  }

  .icon {
    margin: 0 8px;
    &:hover {
      color: $primary-color;
    }
  }
}