@import "../../../util/style/mixins/mixins.scss";
@import "../../../util/style/theme/theme.scss";

@include b(nav) {
  @include e(panel, "-") {
    padding: 0px;
    margin: 0px;
    display: flex;
    height: 100%;
  }

  $content: "mapgis-ui-nav-content";

  @include e(action-bar, "-") {
    background: $nav-backgroud;
    z-index: 2000;
    -webkit-box-shadow: 1px 0 0 0 $nav-shadow-backgroud;
    box-shadow: 1px 0 0 0 $nav-shadow-backgroud;
    border-right: 0px solid $nav-shadow-backgroud;
  }

  @include e(action-bar-reverse, "-") {
    background: $nav-content-backgroud;
    -webkit-box-shadow: 1px 0 0 0 $nav-shadow-backgroud;
    box-shadow: 1px 0 0 0 $nav-shadow-backgroud;
    border-left: 1px solid $nav-shadow-backgroud;
  }

  @include e(content, "-") {
    background: $nav-content-backgroud;
    z-index: 1000;
    transition: width 0.5s;
    visibility: hidden;
    // border-right: 1px solid $nav-border-backgroud;
    // -webkit-box-shadow: 1px 0 0 0 $nav-shadow-backgroud;
    // box-shadow: 1px 0 0 0 $nav-shadow-backgroud;

    &-start {
      border-right: 1px solid $nav-border-backgroud;
      -webkit-box-shadow: 0px 0px 5px 3px $nav-shadow-backgroud;
      box-shadow: 0px 0px 5px 3px $nav-shadow-backgroud;
    }

    &-end {
      border-left: 1px solid $nav-border-backgroud;
      -webkit-box-shadow: 0px 0px 5px 3px $nav-shadow-backgroud;
      box-shadow: 0px 0px 5px 3px $nav-shadow-backgroud;
    }
  }

  @include e(bar, "-") {
    width: $nav-bar-width;

    &-reverse {
      position: absolute;
      bottom: 20px;
      flex-direction: column-reverse;
    }

    &-item {
      align-items: center;
      width: 48px;
      height: 64px;
      padding: 12px;
      flex-direction: column;
      cursor: pointer;
      color: $text-color;

      &-selected {
        background: $nav-selected-backgroud;
      }

      &-start {
        justify-content: flex-start;
      }

      &-end {
        justify-content: flex-end;
      }

      .anticon {
        margin: 0px 4px;
        font-size: 18px;
        align-items: center;
      }

      &-span {
        font-size: 12px;
        line-height: 20px;
      }
    }

    &-item:not(:last-of-type):after {
      display: block;
      margin-top: 3px;
      width: 24px;
      height: 1px;
      background: $primary-6; // $nav-shadow-backgroud;
      content: "";
    }

    &-item:hover {
      color: $primary-5 !important;
    }
  }
}
