@import "../../../util/style/mixins/mixins.scss";
@import "../../../util/style/theme/theme.scss";

@include b(nav) {
  @include e(panel, "-") {
    padding: 0px;
    margin: 0px;
    display: flex;
    height: 100%;
  }
  $content: "mapgis-ui-nav-content";

  @include e(content, "-") {
    background: $nav-content-backgroud;
    // border-right: 1px solid $nav-border-backgroud;
    // -webkit-box-shadow: 1px 0 0 0 $nav-shadow-backgroud;
    // box-shadow: 1px 0 0 0 $nav-shadow-backgroud;

    &-start {
      border-right: 1px solid $nav-border-backgroud;
      -webkit-box-shadow: 0 0 4px 0 $nav-shadow-backgroud;
      box-shadow: 0 0 4px 0 $nav-shadow-backgroud;
    }

    &-end {
      border-left: 1px solid $nav-border-backgroud;
      -webkit-box-shadow: 0 0 4px 0 $nav-shadow-backgroud;
      box-shadow: 0 0 4px 0 $nav-shadow-backgroud;
    }
  }
  @include e(bar, "-") {
    width: $nav-bar-width;
    &-item {
      align-items: center;
      width: 48px;
      height: 64px;
      padding: 12px;
      flex-direction: column;
      cursor: pointer;

      &-start {
        justify-content: flex-start;
      }

      &-end {
        justify-content: flex-end;
      }

      .mapgis-iconfont-wrapper {
        margin: 0px 2px;
        font-size: 16px;
        align-items: center;
      }

      &-span {
        font-size: 12px;
        line-height: 20px;
      }
    }

    &-item:not(:last-of-type):after {
      display: block;
      margin-top: 6px;
      width: 24px;
      height: 1px;
      background: $nav-border-backgroud;
      content: "";
    }

    &-item:hover {
      color: $primary-5;
    }
  }
}
