@import "../../../util/style/mixins/mixins.scss";
@import "../../../util/style/theme/theme.scss";
/* import TitleImage from "./style/titlew.png"; */

.mapgis-ui-border__content {
  .mapgis-ui-switch-panel {
    width: 100%;
    // height: fit-content;
  }
}

@include b(switch-panel) {
  .mapgis-ui-form-item {
    margin: 0;
    padding: 0;
    // padding-bottom: 8px;
  }

  .mapgis-ui-form-item-control {
    text-align: right;
    // height: 40px;
    // line-height: 40px;
    overflow: hidden;
  }

  .mapgis-ui-form-item-label {
    padding: 0px;
    // line-height: 40px;
    font-size: 14px;
  }

  .mapgis-ui-form-item-no-colon {
    //display: inline-block;
    //width: 100%;
    //height: 40px;
    //line-height: 40px;
    //overflow: hidden;
    //white-space: nowrap;
    //text-overflow: ellipsis;
    font-size: 14px;
  }

  .mapgis-ui-input-sm {
    font-size: 12px;
  }

  @include e(header, "-") {
    padding: 0 0px;
    font-size: 14px;
  }

  .mapgis-ui-switch-panel-label:before {
    content: "";
    margin-right: 0;
  }

  // .mapgis-ui-slider-rail {
  //   background-color: #ffffff;
  // }

  @include e(label, "-") {
    // padding: 0 6px;
    font-size: 14px;
    // line-height: 40px;
  }

  @include e(switch, "-") {
    float: right;
    // margin: 9px 0px;
    &-sm {
      float: right;
      // margin: 12px 0px;
    }
  }

  @include e(parameter, "-") {
    &-transparent {
      background: transparent;
    }
    // background: $panel-inner-color;
    // margin: 4px;
    border-radius: 4px;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.5s;
    -moz-transition: max-height 0.5s; /* Firefox 4 */
    -webkit-transition: max-height 0.5s; /* Safari and Chrome */
    -o-transition: max-height 0.5s; /* Opera */
  }
}

@include b(input-number-panel) {
  //background: $panel-inner-color;
  border-radius: 3px;
  // padding: 7px;
  padding-bottom: 8px;
  min-width: 250px;
  // height: 66px;

  &-transparent {
    background: transparent;
  }

  &-sm {
    // height: 48px;
    // padding: 10px 6px;
    // &:hover {
    //   background: $primary-2;
    // }
    .sm-hover {
      &:hover {
        background: $primary-2;
      }
    }
    .label-sm {
      height: 32px;
      line-height: 32px;
      font-size: 14px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: $panel-text-color;
      &:hover {
      }
    }
    .slide-hover {
      position: absolute;
      width: 100%;
      z-index: 100;
      opacity: 0.05;
    }
    .slide-hover:hover {
      opacity: 1;
    }
    .range-sm {
      font-size: 12px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: $panel-option-color;
      &:hover {
        opacity: 0.5;
      }
    }
    .mapgis-ui-row {
      height: 32px;
    }
    .mapgis-ui-slider {
      margin: 12px 8px 8px;
      width: 90%;
    }
    .mapgis-ui-input-number-sm {
      margin: 2px;
      opacity: 1 !important;
    }
  }
  &-md {
    // height: 32px;
    // padding: 0 6px;
    .mapgis-ui-row {
      height: 32px;
      line-height: 32px;
      overflow: hidden;
    }
    .label-md {
      margin: 0;
      color: $panel-text-color;
      font-size: 14px;
    }
    .mapgis-ui-input-number {
      /* margin-right: 12px; */
      width: 100%;
    }
    .mapgis-ui-slider {
      width: 120px;
      margin: 0;
    }
  }
  .mapgis-ui-row {
    // height: 46px;
  }

  .mapgis-ui-input-number {
    line-height: 24px;
  }

  .right-panel {
    // height: 52px;
    // padding: 3px;
    padding: 3px 0 3px 8px;
  }

  .right-range {
    padding-left: 8px;
  }

  .label {
    // margin-left: 4px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-family: Microsoft YaHei;
    // font-weight: 400;
    color: $panel-text-color;
  }
  .range {
    width: 100%;
    line-height: 32px;
    font-size: 12px;
    font-family: Microsoft YaHei;
    // font-weight: 400;
    color: $panel-option-color;
  }
  .left {
  }
  .right {
    display: block;
    float: right;
  }
}

@include b(select-panel) {
  //background: $panel-inner-color;
  border-radius: 1px;
  padding: 7px;

  &-transparent {
    background: transparent;
  }

  .label-sm {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: $panel-text-color;
  }
  .mapgis-ui-select {
    width: 100%;
    font-size: 14px;
  }
}

@include b(color-pick-panel) {
  // background: $panel-inner-color;
  border-radius: 3px;
  padding: 0 0 8px;
  min-width: 250px;
  height: auto;
  line-height: inherit;
  overflow: hidden;
  &-transparent {
    background: transparent;
  }
  &-sm {
    height: 40px;
    line-height: 40px;
  }
  .mapgis-ui-color-pick-panel-label {
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: $panel-text-color;
  }
  .mapgis-ui-color-pick-panel-label-sm {
    height: 24px;
    line-height: 24px;
  }
  .mapgis-ui-color-pick-panel-label-lg {
    height: 40px;
    line-height: 40px;
  }
}

@include b(tab-panel) {
  height: 56px;
  background: $panel-inner-color;
  padding: 16px 10px;
  display: flex;
  overflow: auto;

  &-content {
    margin: 0px auto;
  }

  &-item {
    width: 24px;
    height: 24px;
    background: $panel-backgroud;
    box-shadow: 0px 3px 7px 0px rgba(0, 41, 71, 0.2);
    border-radius: 3px;
    .anticon {
      margin: 4.5px;
      font-size: 15px;
    }

    &-active {
      .anticon {
        color: $nav-selected-backgroud;
      }
      background: linear-gradient(0deg, #52b0f2, #0081e2);
    }
  }
}

@include b(slider-panel) {
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  &-vertical {
    width: 68px;
    height: fit-content;
    max-height: 360px;
  }
  &-horizontal {
    max-width: 360px;
    width: fit-content;
    height: 68px;
    .mapgis-ui-slider-panel-background {
      position: absolute;
      width: 100%;
      max-width: 360px;
      height: 40px;
      z-index: 0;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0),
        #ffffff,
        rgba(255, 255, 255, 0)
      );
    }
    .mapgis-ui-slider-panel-content {
      max-width: 360px;
      width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
    }
    .mapgis-ui-slider-panel-value {
      width: 100%;
      display: block;
    }
    .mapgis-ui-slider-panel-anchor {
      width: 100%;
      height: 24px;
      margin-top: -10px;
      margin-left: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 10px;
      padding-right: 60px;
    }
    .mapgis-ui-slider-handle {
      width: 10px;
      height: 10px;
      border-radius: 0px;
      transform: rotate(45deg) !important;
    }
    .mapgis-ui-slider-track {
      background: linear-gradient(90deg, #91d5ff, #168de5) !important;
      width: 4px;
    }
  }
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  &-background {
    position: absolute;
    width: 40px;
    height: 100%;
    max-height: 360px;
    z-index: 0;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0)
    );
  }
  &-content {
    width: 68px;
    z-index: 2;
    max-height: 360px;
    overflow-x: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 0px;
      background: transparent;
    }
    &::-webkit-scrollbar-track {
      border-radius: 0;
      background: transparent;
    }
  }
  &-value {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;

    &-vertical {
      width: 40px;
      display: flex;
      flex-direction: column;
      height: fit-content;
      overflow-x: hidden;
    }
    &-horizontal-wrapper {
      width: fit-content;
    }
    &-horizontal {
      display: flex;
      white-space: nowrap;
      flex-direction: row;
      // overflow-x: scroll;
      width: fit-content;
    }
  }

  &-anchor {
    width: 24px;
    margin-left: -10px;
    padding-top: 60px;
    padding-bottom: 20px;
    &-line {
      width: 1px;
      height: 100%;
      max-height: 360px;
      margin: 0 6px;
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0),
        #ffffff,
        rgba(255, 255, 255, 0)
      );
    }
    &-icon {
      height: 14px;
      width: 14px;
      background: linear-gradient(0deg, #168de5, #91d5ff);
      box-shadow: 0px 3px 7px 0px rgba(0, 41, 71, 0.2);
    }
    .mapgis-ui-slider-dot {
      display: none;
    }
    .mapgis-ui-slider-track {
      background: linear-gradient(0deg, #91d5ff, #168de5);
      width: 2px;
    }
    .mapgis-ui-slider-rail {
      width: 2px;
    }
    .mapgis-ui-slider-vertical .mapgis-ui-slider-handle {
      margin-top: -6px;
      margin-left: -4px;
    }
    .mapgis-ui-slider-handle {
      width: 10px;
      height: 10px;
      border-radius: 0px;
      transform: rotate(45deg) !important;
    }

    /* .mapgis-ui-slider {
      margin: 60px 0px;
    } */
  }

  &-item {
    &-span {
      min-width: 40px;
      min-height: 40px;
      width: 40px;
      height: 40px;
      font-size: 14px;
      line-height: 40px;
      text-align: center;
      color: $text-color;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
    }

    text-align: center;
    color: $text-color;
    height: 40px;
    width: 40px;
    min-width: 40px;
    min-height: 40px;

    &-active {
      width: 40px;
      height: 40px;
      background: linear-gradient(-90deg, #0081e2, #91d5ff);
      font-weight: bolder;
      div {
        color: #ffffff;
      }
    }
  }
}
