@import "../../../util/style/mixins/mixins.scss";
@import "../../../util/style/theme/theme.scss";

@include b(breadcrumb) {
  color: $breadcrumb-base-color;
  a {
    color: $breadcrumb-link-color;
  }
  @include e(separator, "-") {
    color: $breadcrumb-separator-color;
  }
  @include e(link, "-") {
    color: $breadcrumb-link-color;
  }
}
