@import "../../../util/style/mixins/mixins.scss";
@import "../../../util/style/theme/theme.scss";

$tabs-prefix-cls: $ant-prefix + "-tabs";
@include b(tabs) {
  $prefix: &;

  @include e(bar, "-") {
    border-bottom-color: $border-color-base;
  }

  @include e(nav, "-") {
    color: $text-color;
  }

  @include e(bottom, "-") {
    & &-bar {
      border-top-color: $border-color-base;
    }
  }

  .mapgis-ui-tabs-nav .mapgis-ui-tabs-tab {
    margin: 0;
    padding: 12px 4px;
  }
  .mapgis-ui-tabs .mapgis-ui-tabs-small-bar .mapgis-ui-tabs-tab {
    padding: 0 4px;
  }

  @include e(tab-prev tab-next, "-") {
    color: $text-color-secondary;
    &:hover {
      color: $primary-5;
    }
  }

  @include e(left-bar, "-") {
    #{$prefix} & {
      border-right-color: $border-color-base;
    }
  }

  @include e(right-bar, "-") {
    #{$prefix} & {
      border-left-color: $border-color-base;
    }
  }

  @include e(content, "-") {
    color: $text-color;
  }

  @include e(left-content, "-") {
    #{$prefix} & {
      border-left-color: transparent;
    }
  }

  @include e(right-content, "-") {
    #{$prefix} & {
      border-right-color: transparent;
    }
  }

  &#{&}-card {
    #{$prefix}-card-bar {
      #{$prefix}-tab {
        background: transparent;
        border-color: $border-color-base;
        #{$prefix}-close-x {
          color: $text-color-secondary;
        }
      }
      #{$prefix}-tab-active {
        background: transparent;
        border-bottom-color: $border-color-base;
      }
      #{$prefix}-tab-disabled {
        #{$prefix}-close-x {
          color: $disabled-color;
          &:hover {
            color: $disabled-color;
          }
        }
      }
    }
  }

  @include e(extra-content, "-") {
    #{$prefix}-new-tab {
      border-color: $border-color-base;
    }
  }

  @include e(vertical, "-") {
    &#{$prefix}-card {
      #{$prefix}-card-bar {
        &#{$prefix}-left-bar,
        &#{$prefix}-right-bar {
          #{$prefix}-tab {
            border-bottom-color: $border-color-base;
          }
        }
      }
    }
  }

  & #{&}-card-bar#{&}-bottom-bar &-tab {
    border-bottom-color: $border-color-base;
  }

  & #{&}-card-bar#{&}-bottom-bar &-tab-active {
    color: $primary-color;
  }
}

.mapgis-ui-group-tab {
  display: flex;
  align-items: center;
  width: 100%;
  line-height: 32px;

  &.is-title-bold {
    font-weight: bold;
  }
  &.is-mini {
    font-size: 12px;
    &.has-top-margin {
      margin-top: 4px;
    }
    &.has-bottom-margin {
      margin-bottom: 4px;
    }
    &.has-left-margin {
      margin-left: 8px;
    }
  }
  &.is-small {
    font-size: 14px;
    &.has-top-margin {
      margin-top: 6px;
    }
    &.has-bottom-margin {
      margin-bottom: 6px;
    }
    &.has-left-margin {
      margin-left: 12px;
    }
  }
  &.is-default {
    font-size: 14px;
    &.has-top-margin {
      margin-top: 8px;
    }
    &.has-bottom-margin {
      margin-bottom: 8px;
    }
    &.has-left-margin {
      margin-left: 16px;
    }
  }
  &.is-large {
    font-size: 16px;
    &.has-top-margin {
      margin-top: 8px;
    }
    &.has-bottom-margin {
      margin-bottom: 8px;
    }
    &.has-left-margin {
      margin-left: 16px;
    }
  }
  hr {
    width: 3px;
    height: 1em;
    margin-right: 8px;
    border: 0;
    background-color: $primary-color;
  }
  .title {
    // flex: 1;
    padding-right: 4px;
    color: $heading-color;
  }
  .handle {
    margin-left: auto;
  }
}

.#{$tabs-prefix-cls} {
  &-nav {
    .#{$tabs-prefix-cls}-tab {
      &-disabled {
        &,
        &:hover {
          color: $disabled-color;
          cursor: not-allowed;
        }
      }
    }
  }
}

// .#{$tabs-prefix-cls}-nav .#{$tabs-prefix-cls}-tab-disabled,
// .#{$tabs-prefix-cls}-nav .#{$tabs-prefix-cls}-tab-disabled:hover {
//   color: $disabled-color !important;
//   cursor: not-allowed;
// }
