@import "../../../util/style/mixins/mixins.scss";
@import "../../../util/style/theme/theme.scss";

.mapgis-3d-g3d-layer {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 450px;
  width: 270px;

  .mapgis-ui-collapse-card {
    /* margin: 0px;
    padding: 0px; */
    // overflow-x: hidden;
    height: 450px;
    width: 270px;
    // background: #000;
  }

  .mapgis-ui-card-body {
    /* margin: 0px;
    padding: 0px; */
    height: 450px;
    width: 240px;
    background: #f00;
  }

  .select {
    /* background-color: $primary-6;  
    border-radius: 4px; */
  }

  .active {
    color: $primary-6;
  }

  &-version {
    font-size: 12px;
    font-weight: bolder;
    color: $primary-6;
  }

  &-title {
    font-size: 14;
    font-weight: bold;
    color: $panel-text-color;
  }

  &-icons {
    .anticon {
      line-height: 16px;
      font-size: 16px;
      float: right;
      color: linear-gradient(0deg, #5a6a82, #7a8da0);
    }
    .anticon:hover {
      color: $primary-6;
    }
  }

  &-span {
    display: inline-block;
    justify-content: space-between;
  }
  &-span:hover {
    .iconfont {
      color: $primary-6;
    }
    span {
      // color: $primary-6;
    }
  }
  &-span-inline {
    width: 170px;
  }
  &-span {
    .iconfont {
      line-height: 28px;
      font-size: 16px;
      float: right;
      color: transparent;
    }
  }
}

.mapgis-3d-g3d-document {
  display: block;
  height: fit-content;
  &-tree {
    max-height: 360px;
    min-width: 200px;
    /* max-width: 300px; */
    overflow-y: scroll;
  }
}

.mapgis-3d-g3d-layer
  ::v-deep
  .mapgis-ui-tree
  li
  .mapgis-ui-tree-node-content-wrapper {
  height: fit-content;
}

.mapgis-3d-m3d-menus {
  max-width: 265px;
  &-content {
    display: block;
  }
  .mapgis-ui-tab-panel {
    width: 265px;
  }
  .m-colorPicker .box {
    left: -30px;
    width: 190px;
    padding: 0px;
  }

  .m-colorPicker .colorBtn {
    width: 150px;
  }
}

.mapgis-3d-m3d-menu-props {
  padding: 4px;
  .mapgis-3d-popup-props-item {
    width: 260px;
  }
}
