@import "../../../util/style/mixins/mixins.scss";
@import "../../../util/style/theme/theme.scss";

.mapgis-3d-g3d-layer {
  position: absolute;
  z-index: 100;
  left: 10px;
  top: 10px;

  .select {
    /* background-color: $primary-6;  
    border-radius: 4px; */
  }

  .active {
    color: $primary-6;  
  }

  .mapgis-ui-collapse-card-extra {
    position: absolute;
    top: 10px;
    height: 16px;
    right: 10px;
    float: right;
  }
}

.mapgis-3d-g3d-layer-title {
  line-height: 30px;
  height: 30px;
  margin-left: 4px;
  font-size: 14;
  font-weight: bold;
  color: $panel-text-color;
}

.mapgis-3d-g3d-layer-icons {
  .anticon {
    line-height: 16px;
    font-size: 16px;
    float: right;
    color: linear-gradient(0deg, #5a6a82, #7a8da0);
  }
  .anticon:hover {
    color: $primary-6;
  }
}

.mapgis-3d-g3d-document {
  height: fit-content;
}
.mapgis-3d-g3d-document-tree {
  max-height: 360px;
  min-width: 200px;
  /* max-width: 300px; */
  overflow-y: scroll;
}
.mapgis-3d-g3d-layer-span {
  display: inline-block;
  justify-content: space-between;
}
.mapgis-3d-g3d-layer-span:hover {
  .iconfont {
    color: $primary-6;
  }
  span {
    // color: $primary-6;
  }
}
.mapgis-3d-g3d-layer-span-inline {
  width: 170px;
}
.mapgis-3d-g3d-layer-span {
  .iconfont {
    line-height: 28px;
    font-size: 16px;
    float: right;
    color: transparent;
  }
}

.mapgis-3d-g3d-layer
  ::v-deep
  .mapgis-ui-tree
  li
  .mapgis-ui-tree-node-content-wrapper {
  height: fit-content;
}

.mapgis-3d-g3d-layer-version {
  font-size: 12px;
  font-weight: bolder;
  color: $primary-6;
}
