@import "../../../util/style/mixins/mixins.scss";
@import "../../../util/style/theme/theme.scss";

@include b(story-panel-large) {
  position: relative;
  animation: myfirst 1s;
  -webkit-animation: myfirst 1s; /* Safari and Chrome */

  @keyframes myfirst {
    0% {
      right: 400px;
      top: 10px;
    }
    100% {
      right: 10px;
      top: 10px;
    }
  }

  @-webkit-keyframes myfirst /* Safari and Chrome */ {
    0% {
      right: 400px;
      top: 10px;
    }
    100% {
      right: 10px;
      top: 10px;
    }
  }
}

.mapgis-ui-project-panel-content {
  // background: $panel-backgroud;
  background: transparent;
}

.mapgis-3d-graphic-container,
.mapgis-3d-graphic-layers-select-container,
.mapgis-ui-graphic-icons-container,
.mapgis-ui-graphic-icons-head,
.mapgis-ui-more-tool-button,
.mapgis-ui-project-bottom-panel,
.mapgis-ui-story-panel-large-content,
.mapgis-ui-story-panel-large,
.mapgis-ui-graphic-layers-edit-title,
.mapgis--3d-model-flatten-box {
  background: transparent;
}

.mapgis-ui-story-panel-large-content {
  color: $text-color;
}

.mapgis-ui-more-tool-button-row:hover,
.mapgis-ui-icon-row-container:hover {
  background: $component-background;
}

.mapgis-ui-story-panel-large-bottom {
  border-top: 1px solid $panel-backgroud;
}
