@import "../../../util/style/mixins/mixins.scss";
@import "../../../util/style/theme/theme.scss";

@include b(story-panel-large) {
  opacity: 0.85;
  position: relative;
  animation: myfirst 1s;
  -webkit-animation: myfirst 1s; /* Safari and Chrome */

  @keyframes myfirst {
    0% {
      background: $primary-8;
      // left: 0px;
      right: 400px;
      top: 0px;
    }
    100% {
      background: $primary-1;
      // left: calc(100vw - 400px);
      right: 0px;
      top: 0px;
    }
  }

  @-webkit-keyframes myfirst /* Safari and Chrome */
  {
    0% {
      background: $primary-8;
      // left: 0px;
      right: 400px;
      top: 0px;
    }
    100% {
      background: $primary-1;
      // left: calc(100vw - 400px);
      right: 0px;
      top: 0px;
    }
  }
}

.mapgis-ui-project-panel-content {
  background: $panel-backgroud;
}

.mapgis-3d-graphic-container, .mapgis-3d-graphic-layers-select-container, .mapgis-ui-graphic-icons-container,
.mapgis-ui-graphic-icons-head, .mapgis-ui-more-tool-button {
  background: $panel-backgroud;
}

.mapgis-ui-more-tool-button-row:hover, .mapgis-ui-icon-row-container:hover{
  background: $component-background;
}