@import "../../../util/style/mixins/mixins.scss";
@import "../../../util/style/theme/theme.scss";

.adjust-line-wrapper {
  .adjust-line {
    // border: 1px solid $border-color; // ws记录
    border: 1px solid #f0f0f0; // ws记录
  }
  .adjust-line-h {
    width: 100%;
  }
  .adjust-line-v {
    height: 100%;
  }
  .adjust-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 10px;
    // background-color: $base-bg-color; // ws记录
    background-color: #fff; // ws记录
    .indicator {
      margin: 0 auto;
      width: 10px;
      height: 1px;
      // background-color: $border-color; // ws记录
      background-color: #f0f0f0; // ws记录
    }
  }
  &:hover {
    .adjust-button {
      background-color: $primary-color;
    }
    .adjust-line {
      border-color: $primary-color;
      background-color: $primary-color;
    }
  }
}
.adjust-line-wrapper-h {
  position: relative;
  cursor: row-resize;
  .adjust-button {
    left: 50%;
    &.top {
      bottom: 0;
    }
  }
}
.adjust-line-wrapper-v {
  position: relative;
  cursor: col-resize;
  .adjust-button {
    top: 50%;
    transform: rotate(90deg);
    &.left {
      right: -10px;
    }
    &.right {
      left: -10px;
    }
  }
}
