@import "../../../util/style/mixins/mixins.scss";
@import "../../../util/style/theme/theme.scss";
@import "../../../components/input/style/mixin.scss";

@include b(select) {
  $prefix: &;

  @include e(selection, "-") {
    // background-color: $select-background;
    background-color: transparent;
    border: 1px solid $select-border-color;
    color: $text-color;
    $prefix-selection: &;
    #{$prefix}-focused &,
    &:focus,
    &:active {
      @include focus-color($primary-5, $primary-shadow-color);
    }

    &:hover {
      #{$prefix-selection}__clear + #{$prefix}-arrow {
        opacity: 0;
      }
    }

    &__clear {
      &:hover {
        color: $text-color-secondary;
      }
      background: $input-bg;
      color: $text-color-secondary;
    }
    &--multiple {
      #{$prefix-selection}__choice {
        background-color: $tag-default-bg;
        color: $text-color-secondary;
        &__remove {
          color: $text-color-secondary;
        }
      }
    }
  }

  @include e(open, "-") {
    #{$prefix}-selection {
      @include focus-color($primary-5, $primary-shadow-color);
    }
  }

  @include e(disabled, "-") {
    #{$prefix}-selection {
      &,
      &:hover,
      &:focus,
      &:active {
        border-color: $disabled-border-color;
      }

      &--multiple {
        #{$prefix}-selection__choice {
          color: $disabled-color;
          background: $disabled-bg;
        }
      }
      &-selected-value {
        color: $disabled-color;
      }
    }

    #{$prefix}-arrow {
      color: $text-color;
    }
  }

  @include e(dropdown, "-") {
    background-color: $select-dropdown-bg;
    $prefix-dropdown: &;
    &-menu {
      // background: transparent;
      background: $select-dropdown-bg !important;
      &-item-group-title {
        color: $text-color-secondary;
      }
      &-item {
        color: $text-color;
        &:hover:not(&-disabled) {
          background-color: $select-item-hover-bg;
        }
        &-selected {
          font-weight: normal;
          background-color: $select-item-selected-bg;
          color: $text-color;
        }
      }
    }
    &#{$prefix-dropdown}--multiple {
      #{$prefix-dropdown}-menu-item {
        &:hover {
          #{$prefix}-selected-icon {
            color: $icon-color-hover;
          }
        }
        &-selected #{$prefix}-selected-icon,
        &-selected:hover #{$prefix}-selected-icon {
          color: $primary-color;
        }
      }
    }
  }

  @include e(arrow, "-") {
    color: $text-color-secondary;
  }

  @include e(auto-width, "-") {
    width: 100%;
  }
}

.mapgis-ui-select-outline-title,
.mapgis-ui-select-outline > div {
  color: $panel-option-color;
  background: $panel-backgroud;
}

.mapgis-ui-select-outline .mapgis-ui-select-arrow svg,
.mapgis-ui-select-outline-option {
  color: $panel-option-color;
}

.mapgis-ui-select-outline-option,
.mapgis-ui-select-dropdown-menu {
  background: $panel-backgroud;
}
