.storybook-ui-card {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  width: 320px;
}

.storybook-ui-card > .mapgis-ui-card-body {
  padding: 4px;
}

.storybook-ui-panel,
.mapgis-2d-plot-animation-panel,
.mapgis-3d-plot-animation-panel {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  max-height: 600px;
  /* box-shadow: 1px 1px 6px #d3d3d3; */
}

.storybook-ui-card > .plot-panel-attribute {
  position: fixed;
  top: 56px;
  right: 20px;
}

.mapgis-2d-plot-panel,
.mapgis-3d-plot-panel {
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  max-height: 600px;
}