.test-grid-col {
  background: rgba(0, 160, 233, 0.7);
  padding: 16px 0;
  text-align: center;
  border-radius: 0;
  min-height: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #fff;
}
.test-grid-col:nth-child(2n) {
  background: #00a0e9;
  padding: 16px 0;
}

.height-50 {
  height: 50px;
  line-height: 50px;
}

.height-80 {
  height: 80px;
  line-height: 80px;
}

.height-100 {
  height: 100px;
  line-height: 100px;
}

.height-120 {
  height: 120px;
  line-height: 120px;
}
