#components-layout-demo-basic {
  text-align: center;
}
.mapgis-ui-layout-header,
.mapgis-ui-layout-footer {
  color: #fff;
}
.mapgis-ui-layout-footer {
  line-height: 1.5;
}
.mapgis-ui-layout-sider {
  color: #fff;
  line-height: 120px;
}
.mapgis-ui-layout-content {
  color: #fff;
  min-height: 120px;
  line-height: 120px;
}
#components-layout-demo-basic > .mapgis-ui-layout {
  margin-bottom: 48px;
}
#components-layout-demo-basic > .mapgis-ui-layout:last-child {
  margin: 0;
}
.storybook-span{
  font-weight: bold;
}

.mapgis-track-player-start{
  margin-right: 195px;
}
