.logo {
  width: 160px;
  height: 31px;
  background: rgba(155, 155, 155, 0.2);
  margin: 16px 28px 16px 20px;
  float: left;
}

.mapgis-ui-nav-bar-item {
  align-items: center;
  width: 64px;
  height: 64px;
  padding: 12px;
}

.mapgis-ui-nav-bar {
  width: 48px;
}