// Pro
$pro-header-display: var(--header-display);
$pro-ribbon-display: var(--ribbon-display);
$pro-content-display: var(--content-display);

$pro-content-left-display: var(--content-left-display);
$pro-content-right-display: var(--content-right-display);
$pro-footer-display: var(--footer-display);
$pro-leftsider-display: var(--leftsider-display);

$pro-header-height: var(--header-height);
$pro-ribbon-height: var(--ribbon-height);
$pro-content-height: var(--content-height);
$pro-footer-height: var(--footer-height);
$pro-leftsider-height: var(--leftsider-height);
