// Pro
$pro-header-display: var(--header-display);
$pro-content-display: var(--content-display);
$pro-footer-display: var(--footer-display);
$pro-leftsider-display: var(--leftsider-display);

$pro-header-height: var(--header-height);
$pro-content-height: var(--content-height);
$pro-footer-height: var(--footer-height);
$pro-leftsider-height: var(--leftsider-height);
