@import "../../../util/style/mixins/mixins.scss";
@import "../../../util/style/theme/theme.scss";

@include b(card) {
  $card-prefix: &;
  background-color: $card-body-background;

  @include e(body, "-") {
    background-color: $body-background;
    color: $text-color;
  }

  @include e(bordered, '-') {
    border: 1px solid $border-color-base;
  }

  @include e(extra, '-') {
    color: $text-color;
  }

  @include e(head, "-") {
    background-color: $body-background;
    color: $text-color;
    margin-bottom: 0px;
    border-bottom: 1px solid $border-color-split;
    .mapgis-ui-tabs {
      color: inherit;
    }
    .mapgis-ui-tabs-bar {
      border-bottom: none;
    }
  }

  @include e(actions, "-") {
    background: $card-actions-background;
    > li {
      color: $text-color-secondary;
      > span {
        &:hover {
          color: $primary-color;
        }

        a:not(#{$ant-prefix}-btn),
        > .anticon {
          color: $text-color-secondary;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }

  @include e(type-inner, "-") {
    #{$card-prefix}-head {
      background: $background-color-light;
    }
  }

  @include e(meta, "-") {
    &-title {
      color: $card-head-color;
    }

    &-description {
      color: $text-color-secondary;
    }
  }

  @include e(top-right, "-") {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    // background-color: #fff;
  }
  @include e(top-left, "-") {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    // background-color: #fff;
  }
  @include e(bottom-right, "-") {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    // background-color: #fff;
  }
  @include e(bottom-left, "-") {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
    // background-color: #fff;
  }
}

.mapgis-ui-card-small {
  .mapgis-ui-card-head {
    .mapgis-ui-card-head-wrapper > .mapgis-ui-card-extra {
      color: $text-color;
    }
  }
}

@include b(command-card) {
  $height-lg: 36px;
  $height-md: 30px;
  $height-sm: 24px;
  $padding-lg: 12px;
  $padding-md: 8px;
  $padding-sm: 4px;
  &.mapgis-ui-card {
    .mapgis-ui-card-head {
      font-size: $font-size-base;
      min-height: $height-md;
      line-height: $height-md;
      padding: 0 $padding-md;
      margin-bottom: $padding-md;

      .mapgis-ui-card-head-title,
      .mapgis-ui-card-extra {
        padding: 0;
      }
    }
    .mapgis-ui-card-body {
      padding: 0;
    }
    &.mapgis-ui-card-small {
      .mapgis-ui-card-head {
        min-height: $height-sm;
        line-height: $height-sm;
        padding: 0 $padding-sm;
      }
    }
    &.mapgis-ui-card-large {
      .mapgis-ui-card-head {
        padding: 0 $padding-lg;
        min-height: $height-lg;
        line-height: $height-lg;
      }
    }
  }

  &-box-shadow {
    box-shadow: $box-shadow-base;
  }
}
