@import "../../../util/style/mixins/mixins.scss";
@import "../../../util/style/theme/theme.scss";

@include b(tooltip) {
  &.anticon {
    height: 27px;
    line-height: 27px;
  }
  
  @include e(inner, '-') {
    box-shadow: 1px 1px 10px $tooltip-shadow-color;
  }
}
